/* header section style */
div.header
{
    padding: 10px;
    overflow: auto;
    background-color: rgb(255, 230, 0);
    position: fixed;
    opacity: 0.8;
    width: 100%;
    top: 0px;
    z-index: 1;
}

div.header div.icon
{
    color: red;
    font-size: 70px;
    display: inline;

}

div.header div.nav-par
{
    float: right;    
    display: inline;
    margin-top: 20px;
}

div.header div.nav-par ul li
{
    display: inline;
    margin-right: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

div.header div.nav-par ul li::after
{
    content: "";
    width: 0.01%;
    height: 3px;
    background-color: rgba(255, 102, 0, 0.747);
    display: block;
    position: absolute;
    left: 0px;
    transition: 0.6s;
}

div.header div.nav-par ul li:hover::after
{
    width: 100%;
}

div.header div.nav-par ul li a:focus
{
    color:brown;
}

/* home section style */
div.home div.cover img
{
    width: 100%;
    height: 100%;
}

div.home div.cover div.filter
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ff1100a1;
}

div.home div.cover div.filter div.content
{
    width: fit-content;
    position: absolute;
    top: 40%;
    left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}

div.home div.cover div.filter div.buttons button
{
    width: 200px;
    pad: 20px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.6s;
}

div.home div.cover div.filter div.buttons button:hover
{
    border: 2px rgb(0, 204, 255) solid;
}

div.home div.cover div.filter div.buttons button.learn-more
{
    background-color: tomato;
    color: white;
}

div.home div.cover div.filter div.buttons button.learn-more:hover
{
    background-color: white;
    color: tomato;
}

div.home div.cover div.filter div.buttons button.start
{
    color: tomato;
}

div.home div.cover div.filter div.buttons button.start:hover
{
    background-color: tomato;
    color: white;
}

/* about section styles */
div.about 
{
    width: 100%;
    height: 100%;
    position: relative;
}

div.about div.container
{
    position: absolute;
    top: 13%;
    width: 100%;
}

/* portfolio section styles */
div.portfolio
{
    width: 100%;
    height: 100%;
    padding-top: 120px; 
    background-color: rgba(255, 99, 71, 0.925);
}

/* servieces section styles */
div.services
{
    padding: 120px;
    width: 100%;
    height: 100%;
}

/* prices section style */
div.prices
{
    width: 100%;
    height: 100%;    
    position: relative;
}

div.cover
{
    background-image: url('../photos/background1.jpeg');
    background-size: cover;
    height: 100%;
    top: 0px;
    left: 0px;
    position: sticky;
}

div.prices div.white
{
    padding-top: 120px;
    padding-bottom: 40px ;
    background-color: white;
}


/* team section styles */
div.team
{
    padding-top: 120px;
    height: 100%;
    width: 100%;
}

div.team .join
{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    color: tomato;
    opacity: 0.8;
    margin-top: 150px;
}

div.team .join a
{
    color:rgb(0, 204, 255);
}

div.team .join a:hover
{
    color: red;
}